section.personalia
    h1 Personalia
    div.table-wrap
        table
            tr
                td: b Naam:
                td Alex de Wekker
            tr
                td: b Adres:
                td Statenweg 536
            tr
                td &nbsp;
                td 3033JA Rotterdam
            tr
                td: b Geboortedatum:
                td 13-10-1993
            tr
                td: b Telefoonnummer:
                td 06 22056182
            tr
                td: b Email:
                td alexdewekker6@gmail.com
            tr
                td: b BSN:
                td 213970570
            tr
                td: b Burgerlijke staat:
                td Ongehuwd
