extends layout

block title
    -var title = "Stuff";

block link
    -var selected = "STUFF";

block content
    h2 There's some stuff here
    button.btn.btn-default.stuff-button(type="button") MORE
    br
    br
    p.more More?
