block vars
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title} | Darten
        link(rel="stylesheet", href="stylesheets/styles.css", type="text/css")
        meta(name="theme-color", content="#ff9900")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Slab")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Vollkorn")
    body
        div.container
            nav
                ul
                    li: a(href="#") Ding1
                    li: a(href="#") Ding2
                    li: a(href="/joe") Ik ben een trieste teringlul en ik kap ermee
            block body
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", crossorigin="anonymous", type="text/javascript")
        script(src="javascript/js.js", type="text/javascript")
