doctype
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title alexdeveloper.nl
    body
        h1 Alexdeveloper.nl
        p Hier valt niet echt veel te zien...
        include ../linkjes.pug
