doctype
html(lang="en")
  include ./partials/head
  body
    div.container
      include ./partials/menu
      include ./partials/product
      div.spacer
    include ./partials/footer
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script(src="javascript/js.js", type="text/javascript")
