doctype html
html
    include ./1-partials/head.pug
    body
        .container
            #recipe.main
                .wrap.title
                    h1.wrap--title Zalmpasta
                .wrap.photo
                    img(src="http://alexdewekker.nl/zalmpasta.jpg", alt="Zalmpasta").wrap--photo
                .wrap.instructions
                    ol.wrap--list
                        li.wrap--list--item: span.wrap--list--item--span Snij de courgette in blokjes en zet een pan water op het vuur.
                        li.wrap--list--item: span.wrap--list--item--span Bak de courgette blokjes een paar minuten in een grote pan.
                        li.wrap--list--item: span.wrap--list--item--span Gooi hier de tomatenblokjes en mascarpone bij en mix het goed door elkaar heen.
                        li.wrap--list--item: span.wrap--list--item--span Gooi zodra het kookt de zalmsnippers erbij en laat het geheel opwarmen.
                        li.wrap--list--item: span.wrap--list--item--span Vergeet niet om de fusili te koken en serveer het gerecht samen in een bord op.
                .wrap.ingredients
                    ul.wrap--list
                        li.wrap--list--item: span.wrap--list--item--span Zalmsnippers, 400 gram.
                        li.wrap--list--item: span.wrap--list--item--span Fusili, 300 gram.
                        li.wrap--list--item: span.wrap--list--item--span 1 Courgette.
                        li.wrap--list--item: span.wrap--list--item--span Gezeefde tomatenblokjes (knoflook), 400 gram.
                        li.wrap--list--item: span.wrap--list--item--span Mascarpone, 250 gram.
                .wrap.last-made
                    p.wrap--p Laatst gemaakt op: 
                        b.wrap--p--b 30-11-2018
                .wrap.last-eaten
                    p.wrap--p Laatst gegeten op: 
                        b.wrap--p--b 02-12-2018
                .wrap.calendar
                    .wrap--calendar
                        p Hier komt een kalendertjih
                .wrap.tags
                    p.wrap--p 
                        i.wrap--p--i Italiaans, Pasta, Zalm, Vullend
            
