doctype html
html
    // The head of the page
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title CV | ALEX DE WEKKER.
        link(rel="stylesheet", href="2-styles/styles.css", type="text/css")
    // Page body
    body
        main.container
            // The header
            section.header
                header
                    h1#header.name Alex de Wekker
                    img#header.img(src="4-img/pfpics.jpg", title="Alex de Wekker", alt="Foto van Alex de Wekker")
            section#home.page
                //- include ./0-views/personalia
                //include ./0-views/werk
                //include ./0-views/seno
            // The footer
            section.footer
                footer
                    p Designed &amp; made by <a href="mailto:alexdewekker6@gmail.com">Alex</a>.
        // Javascript / jQuery
        script(src="3-js/jquery.min.js", type="text/javascript")
        script(src="3-js/jquery.js", type="text/javascript")


// Make the json parsing into a function for use with other json files.
// When scrolling down on desktop (check via @media screen or jquery).
// - Put the image of my face next to the content.
// Style the new cv content.
// Use the image-rendering css selector when resizing the image as you scroll down.
// Use will-change for the same photo to indicate change to the browser.
// JS the photo to move along.
// Add more cv content.
