header.header &nbsp;
  h1.header-text Random Webshop
  a.menu-button(href="#")
    div.bar.bar-one
    div.bar.bar-two
    div.bar.bar-three
nav.navigation.closed
  ul.ulnav
    li.item: a.link(href="#") Home
    li.item: a.link(href="#") About
    li.item: a.link(href="#") Stuff
    li.item: a.link(href="#") Product
