div.product-wrap
  div.product
    h2.product-title Een Product (#C0D3)
    div.product-info
      img(src="img/product-image.png", alt="Product Image", type="image/png")
      h3.description-header Beschrijving
      p.description Dit is een beschrijving van dit product, dit is een prima product wat je echt moet kopen. Verder is er niet zo heel veel te zeggen over dit product, koop het gewoon haha!
      h3.specs-header Specificaties
      div.specifications
        table
          tr
            td Ding
            td Dit
          tr
            td Iets
            td Nog wat
          tr
            td Meer
            td Dingen
  include ./product-small
    //-include ./filler
