div.small-products
  - for (var x = 0; x < 10; x++)
    div.small-product(class="small-product-#{x}")
      img(src="img/product-image.png", alt="Product Image", type="image/png")
      p.small-product-text Dit is een klein product wat je ook kan kopen, koop dan, doe het!
