doctype
html
    include ./partials/head
    body
        include ./partials/menu
        div.container
            include ./partials/intro
            include ./partials/werk
            include ./partials/persoon
            include ./partials/skills
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", crossorigin="anonymous", type="text/javascript")
        script(src="js/js.js")
