extends base

block title
    -var title = "Home";

block content
    section#index.content
    section#index.child-container
        h3 hmmmmmmm
        p= title
        a(href="/results") resultaten
