head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Recepten.
    link(rel="stylesheet", href="2-stylesheets/styles.css", type="text/css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:300,900")
    link(rel="shortcut icon", href="favicon.png", type="image/png")
    meta(name="theme-color", content="#ff6347")