.containerr {
  height: 100%;
  margin: 0;
  padding: 0;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  /*.dblink {
      float: left;
  }
  .layoutlink {
      float: right;
  }*/
}
.containerr h1 {
  margin-bottom: 10px;
}
.containerr button {
  margin: 13px 0;
}
.containerr h1, .containerr h2, .containerr p, .containerr button {
  text-align: center;
}
.containerr h1, .containerr h2, .containerr p, .containerr a {
  color: #eee;
}

footer {
  width: 100%;
}

header {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: radial-gradient(#f05f57, #360940) #5efce8;
}
