doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#000000")
    title= title
    link(rel='stylesheet', href='/stylesheets/todo/styles.css')
  body
    block content
    script(src="/javascripts/reload.js", defer)
