doctype
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title alexdevelopment.nl
    body
        h1 Alexdevelopment.nl
        p Hier valt ook niet zoveel te zien...
        include ../linkjes.pug
