doctype
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title alexdewekker.nl
    body
        h1 Alexdewekker.nl
        p Wat zal ik hier eens neerzetten?
        include ../../linkjes.pug
